<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Agile Testing Assessment</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="agile,testing,assessment,agile testing,agile testing assessment" name="keywords">
  <meta content="Agile Testing Assessment" name="description">
  <meta name="google-site-verification" content="eb4c8vt1XMJ_Z0HeLTmygHjio7VomADGUC4rtmJg7Yo" />

  <!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
  <meta property="og:title" content="Agile Testing Assessment">
  <meta property="og:image" content="">
  <meta property="og:url" content="http://agiletesting.la/assessment">
  <meta property="og:site_name" content="">
  <meta property="og:description" content="Evalúa la Madurez de tu Equipo en Agile Testing">

  <!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="">
  <meta name="twitter:title" content="Agile Testing Assessment">
  <meta name="twitter:description" content="Evalúa la Madurez de tu Equipo en Agile Testing">
  <meta name="twitter:image" content="">

  <!-- Favicon -->
  <link href="img/favicon.ico" rel="icon">

  <!-- Required CSS Files -->
  <% if settings.production? %>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,700|Roboto:400,900" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <% else %>
    <link href="/vendor/font-google/font-google-raleway-roboto.css" rel="stylesheet">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <% end %>

  <%= stylesheet_tag 'style' %>

</head>

<body>

<section class="hero">
  <div class="container text-center">
    <div class="col-md-12">
      <h1>
          Agile Testing Assessment
      </h1>
      <div class="tagline">
        <p>
            Cómo realizamos testing tiene un impacto escencial en la capacidad de la organización y los equipos de entregar productos de manera frecuente y sostenible. 
        </p>
        <p>    
            Descubre tu nivel de madurez en Agile Testing e identifica el siguiente paso en tu camino de mejora continua en testing.
        </p>
      </div>
      <a class="btn btn-full d-none d-sm-inline-block" href="#agile-testing">Comienza Ahora</a>
    </div>
  </div>
</section>

<section id="agile-testing">
  <div class="container">
    <h2 class="text-center">Agile Testing</h2>
    <div id="agile-testing-definition" class="row">
      <div class="col-md-12">
        <p class="text-center">
            Agile Testing es un conjunto de principios y prácticas colaborativas que ocurren desde la incepción hasta la entrega, soportando la entrega continua de productos de calidad que agreguen valor a los clientes.
        </p>  
        <p class="text-center">
            Este conjunto de principios y practicas forman 3 pilares principales sobre los cuales nos podemos evaluar:
        </p>  
      </div>
    </div>
    <div class="card-container row">
      <div class="card-col col-lg-4 col-xs-12">
        <div class="card card-block text-center">
          <div>
            <div class="card-icon">
              <span class="fa fa-institution"></span>
            </div>
          </div>
          <div>
            <h3>Enfoque de Todo el Equipo</h3>
            <p>
              Todos somos responsables de la calidad y todos colaboran realizando diversas actividades de testing.
            </p>
          </div>
        </div>
      </div>
      <div class="card-col col-lg-4 col-xs-12">
        <div class="card card-block text-center">
          <div>
            <div class="card-icon">
              <span class="fa fa-institution"></span>
            </div>
          </div>
          <div>
            <h3>Automatización de Pruebas</h3>
            <p>
              Una efectiva automatización de pruebas permite ahorrar mucho tiempo en la ejecución de chequeos repetitivos y laboriosos.
            </p>
          </div>
        </div>
      </div>
      <div class="card-col col-lg-4 col-xs-12">
        <div class="card card-block text-center">
          <div>
            <div class="card-icon">
              <span class="fa fa-institution"></span>
            </div>
          </div>
          <div>
            <h3>Pruebas de Software</h3>
            <p>
              Se enfoca en la excelencia, profesión y artesanía en las pruebas de software ya que esto potencia la agilidad.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
          <a class="btn btn-full btn-go-next-section d-none d-sm-inline-block" href="#assessment-que-es">Conoce Más del Assessment</a>  
      </div>
    </div>
  </div>
</section>

<section id="assessment-que-es">
  <div class="container">
    <h2 class="text-center">¿Qué es el Agile Testing Assessment?</h2>

    <div class="card-container row">
      <div class="card-col col-lg-3 col-xs-12">
        <div class="card card-block text-center">
          <div>
            <div class="card-icon">
              <span class="fa fa-rocket"></span>
            </div>
          </div>

          <div>
            <h3>Desafio</h3>
            <p>
              Es un desafío para los equipos y organizaciones de cómo ser asombrosos en Agile Testing.
            </p>
          </div>
        </div>
      </div>

      <div class="card-col col-lg-3 col-xs-12">
        <div class="card card-block text-center">
          <div>
            <div class="card-icon">
              <span class="fa fa-bar-chart"></span>
            </div>
          </div>
          <div>
            <h3>Evaluación</h3>
            <p>
              Es una evaluacíon para determinar la madurez actual en Agile Testing y medir el progreso de cara a una meta.
            </p>
          </div>
        </div>
      </div>

      <div class="card-col col-lg-3 col-xs-12">
        <div class="card card-block text-center">
          <div>
            <div class="card-icon">
              <span class="fa fa-wrench"></span>
            </div>
          </div>
          <div>
            <h3>Herramienta</h3>
            <p>
              Es una herramienta para identificar y priorizar metas de mejora, y siguientes acciones para llegar a la meta.
            </p>
          </div>
        </div>
      </div>

      <div class="card-col col-lg-3 col-xs-12">
        <div class="card card-block text-center">
          <div>
            <div class="card-icon">
              <span class="fa fa-group"></span>
            </div>
          </div>
          <div>
            <h3>Oportunidad</h3>
            <p>
              Es una oportunidad para generar conversaciones sobre cómo venimos realizando testing en equipos ágiles.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
          <a class="btn btn-full btn-go-next-section d-none d-sm-inline-block" href="#assessment-start">Evalua la Madurez de tu Equipo</a>
      </div>
    </div>
  </div>
  </section>

  <section id="assessment-start">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="section-title">¿Cuál es la Madurez de tu Equipo en Agile Testing?</h2>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-6">
        <p>
          Este assessment te ayudará a descubrir tu nivel de madurez en los 3 pilares de Agile Testing.
        </p>
        <p>
          Luego de realizar el assessment obtendrás:
        </p>
        <div class="list">
          <div>
              <i class="fa fa-check"></i>
              <p>Un reporte con tu nivel de madurez en cada uno de los pilares.</p>
          </div>
          <div>
              <i class="fa fa-check"></i>
              <p>Asimismo podrás comparar tu nivel de madurez con el resto de encuestados.</p>
          </div>
          <div>
            <i class="fa fa-check"></i>
            <p>Recomendaciones basado en tu nivel de madurez (Pronto).</p>
        </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form">
          <form id="assessment-form" action="/assessment-start" method="post" role="form">
            <div class="form-group">
              <label for="nombre">Email</label>
              <input type="text" class="form-control" name="email" id="email" data-rule-required="true" data-msg-required="Por favor ingresa tu email" data-rule-email="true" data-msg-email="Por favor ingresa un email válido"/>
            </div>
            <div class="form-group">
              <label for="nombre">Organización</label>
              <input type="text" class="form-control" name="organization" id="organization" data-rule-required="true" data-msg-required="Por favor ingresa el nombre de tu organización" />
            </div>
            <div class="form-group">
              <label for="nombre">Industria</label>
              <select class="form-control"  name="industry" id="industry" data-rule-required="true" data-msg-required="Por favor ingresa tu industria">
                <option selected value="">Selecciona tu industria</option>
                <option value="agricultura">Agricultura & Pesca</option>
                <option value="banca">Banca & Mercados de Capitales</option>
                <option value="educacion">Educación</option>
                <option value="gobierno">Gobierno</option>
                <option value="hospitalidad">Hospitalidad & Viajes</option>
                <option value="logistica">Logística</option>
                <option value="manufactura">Manufactura</option>
                <option value="marketing">Marketing</option>
                <option value="retail">Retail y Bienes de Consumo</option>
                <option value="salud">Salud</option>
                <option value="seguros">Seguros</option>
                <option value="sinlucro">Sin Fines de Lucro</option>
                <option value="telecomunicaciones">Telecomunicaciones</option>
                <option value="otro">Otro</option>
              </select>
            </div>
            <div class="form-group">
              <label for="pais">Pais</label>
              <select class="form-control" name="country" id="country" data-rule-required="true" data-msg-required="Por favor ingresa tu país">
                  <option selected value="">Selecciona tu país</option>
                  <option value="AR">Argentina</option>
                  <option value="BO">Bolivia</option>
                  <option value="BR">Brazil</option>
                  <option value="CA">Canadá</option>
                  <option value="CL">Chile</option>
                  <option value="CO">Colombia</option>
                  <option value="CR">Costa Rica</option>
                  <option value="CU">Cuba</option>
                  <option value="EC">Ecuador</option>
                  <option value="SV">El Salvador</option>
                  <option value="ES">España</option>
                  <option value="US">Estados Unidos</option>
                  <option value="GT">Guatemala</option>
                  <option value="HN">Honduras</option>
                  <option value="MX">México</option>
                  <option value="MX">Nicaragua</option>
                  <option value="PY">Paraguay</option>
                  <option value="PA">Panamá</option>
                  <option value="PE">Perú</option>
                  <option value="DO">República Dominicana</option>
                  <option value="UY">Uruguay</option>
                  <option value="VE">Venezuela</option>
              </select>
            </div>
            <div class="form-group text-center"><button id="submit" type="submit">Comenzar</button></div>
          </form>
        </div>
      </div>
    </div>
  </div>
  </section>

  <footer id="footer">
    <div class="container">
      <p>Copyright &copy; <strong>Agile Testing Latam</strong>. All Rights Reserved</p>   
    </div>
  </footer>

  <a class="scrolltop" href="#"><span class="fa fa-angle-up"></span></a>

  <% if settings.production? %>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
  <% else %>
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/jquery-validation/jquery.validate.min.js"></script>
  <% end %>
  <script src="/vendor/easing/easing.min.js"></script>

  <script src="<%= javascript_path 'assessment-home' %>"></script>

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-11277405-2"></script>
  <script>
    var host = window.location.hostname;
    if(host != "localhost")
    {
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-11277405-2');
    }
  </script>
</body>
</html>
