<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Agile Testing Assessment - Questions</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="agile,testing,assessment,agile testing,agile testing assessment" name="keywords">
  <meta content="Agile Testing Assessment - Questions" name="description">

  <!-- Favicon -->
  <link href="img/favicon.ico" rel="icon">

  <!-- Required CSS Files -->
  <% if settings.production? %>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,700|Roboto:400,900" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <% else %>
    <link href="/vendor/font-google/font-google-raleway-roboto.css" rel="stylesheet">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/vendor/noUiSlider/nouislider.css" rel="stylesheet">
  <% end %>

  <%= stylesheet_tag 'style' %>

</head>

<body>

  <section class="assessment-questions">
    <div class="container">
      <div id="assessment-nav-bar">
          <a class="return-home-link" href="/assessment">
            <i class="return-home-icon fa fa-angle-left"></i>
            <span class="return-home-text">Agile Testing Assessment</span>
          </a>
        </div>
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div class="bs-wizard col-md-12">
              <div id="step-1-nav" class="col-4 bs-wizard-step complete">
                <p class="text-center bs-wizard-stepnum">Paso 1</p>
                <div class="progress"><div class="progress-bar"></div></div>
                <span href="#" class="bs-wizard-dot"></span>
                <p class="bs-wizard-info text-center">Enfoque de Todo el Equipo</p>
              </div>
              
              <div id="step-2-nav" class="col-4 bs-wizard-step disabled">
                <p class="text-center bs-wizard-stepnum">Paso 2</p>
                <div class="progress"><div class="progress-bar"></div></div>
                <span href="#" class="bs-wizard-dot"></span>
                <p class="bs-wizard-info text-center">Automatización de Pruebas</p>
              </div>
              
              <div id="step-3-nav" class="col-4 bs-wizard-step disabled">
                <p class="text-center bs-wizard-stepnum">Paso 3</p>
                <div class="progress"><div class="progress-bar"></div></div>
                <span href="#" class="bs-wizard-dot"></span>
                <p class="bs-wizard-info text-center">Pruebas de Software</p>
              </div>
          </div>
          <div class="questions">
            <form id="questions-form" action="/assessment-finish" method="post" role="form">
              <div id="step-1" style="display: block">
                <div class="text-center">
                  <h2 class="section-title">Enfoque de Todo el Equipo</h2>
                  <p class="lead">Todos somos responsables de la calidad y todos colaboramos realizando diversas actividades de testing.</p>
                </div>
     
                <div class="alert alert-secondary text-center" role="alert">
                    <h4 class="alert-heading">Evalua tu Nivel de Madurez</h4>
                    <p class="mb-0">Evalua cada una de las siguientes sentencias en una escala de frecuencia.</p>
                </div>
                <div class="form">
                    <% @questions_whole_team.each do |question| %>
                    <div class="form-group">
                      <p class="question-description"><%= question.description %></p>
                      <div id="<%= question.id %>" class="answer-slide"></div>
                      <input type="hidden" name="answers[<%= question.id %>][question]" value="<%= question.name %>">
                      <input type="hidden" name="answers[<%= question.id %>][answer]">
                    </div>
                    <% end %>
                    <div class="form-group text-center"><button id="step-1-next">Continuar</button></div>
                </div>
              </div>
              <div id="step-2" style="display: none">
                <div class="text-center">
                  <h2 class="section-title">Automatización de Pruebas</h2>
                  <p class="lead">Una efectiva automatización de pruebas permite ahorrar mucho tiempo en la ejecución de chequeos repetitivos y laboriosos.</p>
                </div>
                <div class="alert alert-secondary text-center" role="alert">
                    <h4 class="alert-heading">Evalua tu Nivel de Madurez</h4>
                    <p class="mb-0">Evalua cada una de las siguientes sentencias en una escala de frecuencia del 1-Nunca al 5-Siempre.</p>
                </div>
                <div class="form">
                    <% @questions_automation.each do |question| %>
                    <div class="form-group">
                      <p><%= question.description %></p>
                      <div id="<%= question.id %>" class="answer-slide"></div>
                      <input type="hidden" name="answers[<%= question.id %>][question]" value="<%= question.name %>">
                      <input type="hidden" name="answers[<%= question.id %>][answer]">
                    </div>
                    <% end %>
                    <div class="form-group text-center">
                      <button id="step-2-back" class="secondary-button">Regresar</button>
                      <button id="step-2-next">Continuar</button>
                    </div>
                </div>
              </div>
              <div id="step-3" style="display: none">
                <div class="text-center">
                  <h2 class="section-title">Pruebas de Software</h2>
                  <p class="lead">Se enfoca en la excelencia, profesión y artesanía en las pruebas de software ya que esto potencia la agilidad.</p>
                </div>
                <div class="alert alert-secondary text-center" role="alert">
                    <h4 class="alert-heading">Evalua tu Nivel de Madurez</h4>
                    <p class="mb-0">Evalua cada una de las siguientes sentencias en una escala de frecuencia del 1-Nunca al 5-Siempre.</p>
                </div>
                <div class="form">
                    <% @questions_testing.each do |question| %>
                    <div class="form-group">
                      <p><%= question.description %></p>
                      <div id="<%= question.id %>" class="answer-slide"></div>
                      
                      <input type="hidden" name="answers[<%= question.id %>][question]" value="<%= question.name %>">
                      <input type="hidden" name="answers[<%= question.id %>][answer]">
                    </div>
                    <% end %>
                    <div class="form-group text-center">
                      <button id="step-3-back" class="secondary-button">Regresar</button>
                      <button id="step-3-next" type="submit">Finalizar</button>
                    </div>
                </div>
              </div>  
            </div>
            <input type="hidden" name="assessment_id" value="<%= @assessment_id %>">
          </form>
        </div>  
      </div>
    </div>
  </section>

  <% if settings.production? %>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="/vendor/noUiSlider/nouislider.min.js"></script>
  <% else %>
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/noUiSlider/nouislider.min.js"></script>
  <% end %>

  <script src="<%= javascript_path 'assessmentQuestions' %>"></script>

  <script>
    $(document).ready(function(){
      $('.answer-slide').each(function() {
        var answerSlide = new AnswerSlide($(this).get(0));
        answerSlide.create();
        var answerInput=$('input[name="answers['+$(this).attr('id')+'][answer]"]').get(0);
        answerSlide.syncronizeTo(answerInput)
      });
    }); 
  </script>
</body>
</html>  