<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Agile Testing Assessment</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<link href="css/bootstrap-responsive.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="color/default.css" rel="stylesheet">
</head>
<body>
<section id="assessment" class="section">
<div class="container">
	<h4>Agile Testing Assessment</h4>
</div>
</section>

<section id="materiales" class="section">
<div class="container">
	<h3>Materiales</h3>
	<div class="row">
		<div class="span4">
			<div class="service-box">
			<a href="https://drive.google.com/open?id=0B2etAlBEJtreTlVCSV9HYUlIMjg"><img src="img/agile-testing-pillars.png" alt="Agile Testing Pillars" /></a>
				<h5><a href="https://drive.google.com/open?id=0B2etAlBEJtreTlVCSV9HYUlIMjg">Agile Testing Pillars</a></h5>
				<p>
					Los 3 pilares de Agile Testing: Enfoque de Todo el Equipo, Automatización de Pruebas y Pruebas de Software.
				</p>
			</div>
		</div>
		<div class="span4">
			<div class="service-box">
			<a href="https://drive.google.com/file/d/0B2etAlBEJtreUUFvMVRoZnB3U2c"><img src="img/agile-testing-assessment.png" alt="Agile Testing Assessment" /></a>
				<h5><a href="https://drive.google.com/file/d/0B2etAlBEJtreUUFvMVRoZnB3U2c">Agile Testing Assessment</a></h5>
				<p>
					Evaluación para determinar la madurez de un equipo u organización en Agile Testing.
				</p>
			</div>
		</div>
		<div class="span4">
			<div class="service-box">
			<a href="https://drive.google.com/open?id=0B2etAlBEJtreTjV6NHEwUjBPa2c"><img src="img/agile-testing-improvement-theme.png" alt="Agile Testing Improvement Theme" /></a>
				<h5><a href="https://drive.google.com/open?id=0B2etAlBEJtreTjV6NHEwUjBPa2c">Agile Testing Improvement Theme</a></h5>
				<p>
					Template que nos permite visualizar y progresar usando mejora continua desde la condición actual hacia el desafio.
				</p>
			</div>
		</div>
	</div>
</div>
</section>

<footer>
<div class="container">
	<div class="row">
		<div class="span6 offset3">
			<ul class="social-networks">
				<li><a href="https://www.linkedin.com/in/snahider"><i class="icon-circled icon-bgdark icon-linkedin icon-2x"></i></a></li>
				<li><a href="https://twitter.com/Snahider/"><i class="icon-circled icon-bgdark icon-twitter icon-2x"></i></a></li>
			</ul>
			<p class="copyright">
				&copy; Angel Núñez Salazar. All rights reserved.

			</p>
		</div>
	</div>
</div>
</footer>
</body>
</html>