<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Agile Testing Assessment</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<link href="css/bootstrap-responsive.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="color/default.css" rel="stylesheet">

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-11277405-2"></script>
<script>

var host = window.location.hostname;
if(host != "localhost")
{
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-11277405-2');
}
</script>

</head>
<body>
<section id="assessment" class="section">
<div class="container">
	<h4>Agile Testing Assessment</h4>
</div>
</section>

<section id="materiales" class="section">
<div class="container">
	<h3>¿Por qué necesitamos un Agile Testing Assessment?</h3>
	<div class="row">
		<div class="span10 offset1" style="text-align:center">
			<h5>
				Siempre que emprendemos una mejora es muy importante saber donde nos encontramos.
			</h5>
			<p>
				Muchas veces nuestros desafíos de mejora están relacionados a las principios y prácticas de calidad y testing ágil dentro de un equipo, en otras palabras relacionados al conjunto de elementos que abarca Agile Testing, por lo tanto necesitamos un método que nos permita determinar cuál es nuestro estado actual con respecto a este marco de principios y prácticas.
			</p>
		</div>
	</div>
</div>
</section>

<section id="materiales" class="section">
<div class="container">
	<h3>¿Qué es el Agile Testing Assessment?</h3>
	<div class="row">
		<div class="span3">
			<div class="service-box">
				<h5>Un Desafío</h5>
				<p>
					Un desafío para los equipos y organizaciones de cómo ser asombrosos en Agile Testing.
				</p>
			</div>
		</div>
		<div class="span3">
			<div class="service-box">
				<h5>Una Evaluación</h5>
				<p>
					Una evaluacíon para determinar la madurez actual en Agile Testing y medir el progreso de cara a una meta.
				</p>
			</div>
		</div>
		<div class="span3">
			<div class="service-box">
				<h5>Una Herramienta</h5>
				<p>
					Una herramienta para identificar y priorizar metas de mejora, y siguientes acciones para llegar a la meta.
				</p>
			</div>
		</div>
		<div class="span3">
			<div class="service-box">
				<h5>Un Medio</h5>
				<p>
					Un medio para generar conversaciones sobre cómo venimos realizando testing en equipos ágiles.
				</p>
			</div>
		</div>
	</div>
</div>
</section>

<section id="materiales" class="section">
<div class="container">
	<h3>Materiales para realizar el Assessment</h3>
	<div class="row">
		<div class="span4">
			<div class="service-box">
			<a href="https://drive.google.com/open?id=0B2etAlBEJtreTlVCSV9HYUlIMjg"><img src="img/agile-testing-pillars.png" alt="Agile Testing Pillars" /></a>
				<h5><a href="https://drive.google.com/open?id=0B2etAlBEJtreTlVCSV9HYUlIMjg">Agile Testing Pillars</a></h5>
				<p>
					Los 3 pilares de Agile Testing: Enfoque de Todo el Equipo, Automatización de Pruebas y Pruebas de Software.
				</p>
			</div>
		</div>
		<div class="span4">
			<div class="service-box">
			<a href="https://drive.google.com/file/d/0B2etAlBEJtreUUFvMVRoZnB3U2c"><img src="img/agile-testing-assessment.png" alt="Agile Testing Assessment" /></a>
				<h5><a href="https://drive.google.com/file/d/0B2etAlBEJtreUUFvMVRoZnB3U2c">Agile Testing Assessment</a></h5>
				<p>
					Evaluación para determinar la madurez de un equipo u organización en Agile Testing.
				</p>
			</div>
		</div>
		<div class="span4">
			<div class="service-box">
			<a href="https://drive.google.com/open?id=0B2etAlBEJtreTjV6NHEwUjBPa2c"><img src="img/agile-testing-improvement-theme.png" alt="Agile Testing Improvement Theme" /></a>
				<h5><a href="https://drive.google.com/open?id=0B2etAlBEJtreTjV6NHEwUjBPa2c">Agile Testing Improvement Theme</a></h5>
				<p>
					Template que nos permite aterrizar y compartir nuestra siguiente condición objetivo y cuales son los siguientes pasos para alcanzar ese objetivo.
				</p>
			</div>
		</div>
	</div>
</div>
</section>

<footer>
<div class="container">
	<div class="row">
		<div class="span6 offset3">
			<ul class="social-networks">
				<li><a href="https://www.linkedin.com/in/snahider"><i class="icon-circled icon-bgdark icon-linkedin icon-2x"></i></a></li>
				<li><a href="https://twitter.com/Snahider/"><i class="icon-circled icon-bgdark icon-twitter icon-2x"></i></a></li>
			</ul>
			<p class="copyright">
				&copy; Angel Núñez Salazar. All rights reserved.

			</p>
		</div>
	</div>
</div>
</footer>
</body>
</html>