<h2>
	Thank you, your order has been placed
</h2>
<br/>
<p>Order Number: <span style="font-weight: 600;"><%= @order.id %></span></p>
<ul>
	<li> <%= @order.products_count %> item(s) will be shipped to <%= @order.shipping_detail.full_name %></li>
</ul>

<a class="btn" href="/">Continue Shopping</a>


