<div class="row">
	<div class="span12">
		<div class="register">

			<div class="titleHeader clearfix">
				<h3>Shipping Details</h3>
			</div><!--end titleHeader-->

			<form id="shippingDetails" method="post" action="/shipping" class="form-horizontal">

				<h4>&nbsp;&nbsp;&nbsp;&nbsp;1. Address</h4>
				
				<div class="control-group">
				    <label class="control-label" for="full_name">Full Name: <span class="text-error">*</span></label>
				    <div class="controls">
				      <input type="text" id="full_name" name="full_name">
				    </div>
				</div><!--end control-group-->

				<div class="control-group">
				    <label class="control-label" for="address_line">Address Line: <span class="text-error">*</span></label>
				    <div class="controls">
				      <input type="text" id="address_line" name="address_line">
				    </div>
				</div><!--end control-group-->

				<div class="control-group">
				    <label class="control-label" for="city">City: <span class="text-error">*</span></label>
				    <div class="controls">
				      <input type="text" id="city" name="city">
				    </div>
				</div><!--end control-group-->

				<div class="control-group">
				    <div class="control-label">Country: <span class="text-error">*</span></div>
				    <div class="controls">
				      <select name="country">
				      	<option value="Argentina">Argentina</option>
				      	<option value="Brazil">Brazil</option>
				      	<option value="Chile">Chile</option>
				      	<option value="Colombia">Colombia</option>
				      	<option value="Peru">Peru</option>
				      	<option value="Spain">Spain</option>
				      	<option selected="selected" value="United States">United States</option>
				      	<option value="Uruguay">Uruguay</option>
				      	<option value="Venezuela">Venezuela</option>
				      </select>
				    </div>
				</div><!--end control-group-->

				<h4>&nbsp;&nbsp;&nbsp;&nbsp;2. Shipping Option</h4>

				<div class="control-group">
				    <label class="control-label" for="delivery_option_id">Delivery Option: <span class="text-error">*</span></label>
				    <div class="controls">
				    <% @delivery_options.each do |option| %>
				    	<label class="radio">
						  <input type="radio" value="<%= option.id %>" name="delivery_option_id" 
						  <%if option.default_active %>checked="checked"<%end%> >
						  <%= option.name %>
					  </label>
				    <% end %>
				    </div>
				</div><!--end control-group-->

				<hr>

				<div class="control-group">
				    <div class="controls">
					    <button type="submit" class="btn btn-primary">Continue</button>
				    </div>
				</div>
			</form><!--end form-->

		</div><!--end register-->
	</div><!--end span12-->
</div><!--end row-->

<% content_for :script do %>
  	<script>
	$().ready(function() {
		$("#shippingDetails").validate({
			rules: {
				full_name: "required",
				address_line: "required",
				city: "required",
			},
			messages: {
				full_name: "Please enter the Full Name",
				address_line: "Please enter the Address Line",
				city: "Please enter the City"
			},
			highlight: function(element) {
				$(element).parent().parent().addClass("error");
			},
			unhighlight: function(element) {
				$(element).parent().parent().removeClass("error");
			}
		});
	});
	</script>
<% end %>



